<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site name="shell">
				<patch:attribute name="contentLanguage">da</patch:attribute>
				<patch:attribute name="language">da</patch:attribute>
			</site>
			<site name="website">
				<patch:attribute name="cacheHtml">false</patch:attribute>
				<patch:attribute name="startItem">/Home</patch:attribute>
				<patch:attribute name="database">master</patch:attribute>
				<patch:attribute name="language">da</patch:attribute>
				<patch:attribute name="rootPath">/sitecore/content/movieshop</patch:attribute>
				<patch:attribute name="registryCacheSize">50KB</patch:attribute>
			</site>
		</sites>

		<linkManager defaultProvider="sitecore">
			<providers>
				<add name="sitecore" >
					<patch:attribute name="addAspxExtension">false</patch:attribute>
					<patch:attribute name="lowercaseUrls">true</patch:attribute>
				</add>
			</providers>
		</linkManager>
	</sitecore>
</configuration>